.boss {
	z-index: 1;
	animation: flicker 1s linear;
	margin: auto;
	justify-self: center;
	align-self: center;
}

.hit {
	opacity: 0.5;
}

@keyframes flicker {
	0%,
	20%,
	40%,
	60%,
	80%,
	100% {
		opacity: 1;
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		opacity: 0.1;
	}
}
