.container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.9);
}

.window {
	/* background-color: var(--primary); */
	display: flex;
	flex-direction: column;
	align-items: center;
	width: clamp(300px, 90vw, 750px);
	animation: windowOpen 1s ease-in-out;
}

.header {
	font-size: 52px;
	color: var(--red-dark);
	-webkit-text-stroke: 2px var(--yellow-dark);
}

.header:hover {
	opacity: 1;
	color: var(--orange);
}

.statsContainer {
	display: flex;
	flex-direction: column;
	width: clamp(300px, 700px, 80%);
	margin-top: 2.5rem;
}

.statsItem {
	padding: 3px;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.statsName {
	color: var(--dark-blue);
	font-size: 26px;
}

.statsValue {
	font-size: 18px;
	font-weight: 600;
	color: var(--red-dark);
}

.btnContainer {
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

.btn {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	width: 40%;
	max-width: 250px;
	padding: 5px 0px;
	height: 40px;
	border-radius: 8px;
	background-color: var(--primary);
	color: var(--orange);
	font-size: 30px;
}

.btn:hover {
	cursor: pointer;
	transform: scale(1.05);
}

@keyframes windowOpen {
	0% {
		transform: scale(0) translateY(-100%);
	}
	100% {
		transform: scale(1) translateY(0%);
	}
}
