.gameContainer {
	position: relative;
	width: 100vw;
	height: 100vh;
	width: 100dvw;
	height: 100dvh;
	background: var(--primary);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.background {
	position: absolute;
	opacity: 0.3;
	inset: 0;
	/* background: radial-gradient(circle at center, #1a1a1a, #000); */
	background: url('/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 0;
}
