.gameContainer {
	position: relative;
	overflow: hidden;
	height: 72.5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.background {
	position: absolute;
	opacity: 0.3;
	inset: 0;
	/* background: radial-gradient(circle at center, #1a1a1a, #000); */
	background: url('/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 0;
}

.container {
	width: 100vw;
	height: 100vh;
	width: 100dvw;
	height: 100dvh;
	opacity: 1;
	overflow: hidden;
}

.topUI {
	height: 10%;
	position: relative;
	z-index: 5;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.topUI_right {
	margin-right: 30px;
}

.topUI_icon {
	font-size: 24px;
	color: var(--green);
}

.topUI_icon:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.topUI_icon_muted {
	color: var(--red-dark);
}

.startText {
	font-size: 32px;
}
