.title_container {
	padding-top: 5vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.title {
	font-size: 102px;
	-webkit-text-stroke: 4px var(--green-dark);
	color: var(--yellow);
}

.title {
	animation: fall 0.6s cubic-bezier(0.25, 0.8, 0.5, 1.4) forwards, float 5s ease-in-out infinite;
	animation-delay: calc(var(--i) * 0.1s), calc(0.6s + var(--i) * 0.1s);
}

@keyframes float {
	0%,
	50%,
	100% {
		opacity: 1;
		transform: translateY(0);
	}
	25% {
		opacity: 0;
		transform: translateY(-6px);
	}
}

.title:hover {
	opacity: 1;
	color: var(--yellow-dark);
	-webkit-text-stroke: 4px var(--green);
}

.title::selection {
	background-color: var(--green-dark);
}
