.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.window {
	background-color: var(--peach);
	color: var(--primary);
	width: 50%;
	height: 80%;
	display: flex;
	border-radius: 5px;
	flex-direction: column;
	animation: windowOpen 0.5s ease-in-out;
}

.minimise {
	animation: windowClose 0.5s ease-in-out forwards;
}

.bar {
	border-radius: 5px 5px 0px 0px;
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--yellow);
}

.title {
	background-color: var(--primary);
	color: var(--orange);
	margin-left: 10px;
	padding: 4px;
	font-size: 24px;
	border-radius: 5px;
	font-weight: 400;
}

.btn_container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.icon {
	color: var(--primary);
	transition: all 0.2s ease-in;
}

.icon:hover {
	transform: scale(1.1);
	color: var(--peach);
}

.close {
	padding: 5px;
	margin-right: 10px;
	font-size: 24px;
}

.minus {
	padding: 5px;
	font-size: 24px;
}

.box {
	border: 2px solid var(--primary);
	width: 92.5%;
	justify-self: center;
	border-radius: 10px;
	align-self: center;
	margin-top: 3%;
	height: 70%;
	background-color: var(--yellow-dark);
	overflow: auto;
}

.box::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.box::-webkit-scrollbar-thumb {
	background-color: var(--orange);
	/* border-radius: 10px; */
	border: 2px solid var(--primary);
}

.box::-webkit-scrollbar-thumb:hover {
	background-color: rgba(247, 159, 51, 0.6);
}

.children {
	padding: 15px;
}

.window::selection {
	background-color: var(--primary);
	color: var(--peach);
}

.footer {
	margin-top: auto;

	border-radius: 0px 0px 5px 5px;
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	/* gap: 20px; */
}

.arrow_box {
	display: flex;
	border-radius: 8px;
	justify-content: center;
	align-items: center;
	background-color: var(--yellow-brown);
	height: 100%;
	padding: 0px 30px;
	gap: 30px;
	margin-bottom: 5%;
	margin-right: 3.75%;
}

.arrow {
	font-size: 42px;
}

.arrow:hover {
	color: var(--peach);
	transform: scale(1.2);
}

.arrow_disabled {
	opacity: 0.4;
	cursor: not-allowed;
}

.arrow_disabled:hover {
	transform: scale(1);
}

@media (max-width: 768px) {
	.window {
		width: 90%;
	}
}

@keyframes windowOpen {
	0% {
		transform: scale(0) translateY(-100%);
	}
	100% {
		transform: scale(1) translateY(0%);
	}
}

@keyframes windowClose {
	0% {
		transform: scale(1) translateY(0%);
	}
	100% {
		transform: scale(0) translateY(-100%);
	}
}
