:root {
	--primary: #1e1e1e;
	--text: #ffffff;
	--gray: #2f2c36;
	--yellow: #feca28;
	--yellow-light: #fff2b0;
	--yellow-dark: #f0cb50;
	--green: #3cbc3c;
	--green-light: #9be64d;
	--green-dark: #2a9134;
	--dark-blue: #0079ad;
	--orange: #f79f33;
	--peach: #feeac7;
	--yellow-brown: #b8860b;
	--red-dark: #c95729;
	--health-red: #9e4438;
}

/* fonts */
.poppins {
	font-family: 'Poppins', sans-serif;
}
.ubuntu {
	font-family: 'Ubuntu', sans-serif;
}
.big-shoulders {
	font-family: 'Big Shoulders', sans-serif;
}
.big-shoulders-stencil {
	font-family: 'Big Shoulders Stencil', sans-serif;
}
.creepster {
	font-family: 'Creepster', sans-serif;
}
/**/

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

body,
#root {
	width: 100vw;
	width: 100dvw;
	height: 100vh;
	height: 100dvh;
	color: var(--text);
	background-color: var(--primary);
}
